
#title {
    background-color: #ff4c68;
    /* height: 929px; */
    height: 100vh; 
    /* z-index: 2; */
    overflow: hidden;
}

body {
    font-family: 'Montserrat' ;
}

/* Feature Section */
#features{
    margin-top: 8%;
    margin-bottom: 8%;
}

#features h3 {
    font-family: 'Ubuntu';
    font-weight: 600;
}

#features i {
    color: #ef8172 ;
    padding-bottom: 5%;
}

#features i:hover {
    color: #FF4D69;
}

#subTitle{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #FFFFFF;
}

#mainTitle{
    font-family: Ubuntu ;
    font-size: 2.5rem;
    font-weight: bold;
}

#headerNavBar{
padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: Montserrat-Light;
    font-size: 2rem;
}

/* Download Button */
.download-btn {
    margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-image{
    position: relative;
    top: -50px ;
    width: 80%;
    transform: rotate(25deg);
}

/* Terminal Section */
#testimonials{
    background-color: #ff4c68;
    color: #FFFFFF;
    padding-top: 8%;
    padding-bottom: 8%;
}

#testimonials h2{
    /* font-family: Montserrat-Bold ; */
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;

}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}

#press{
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 1rem 1rem 3rem;
}